@charset "utf-8";

h1 {
  color: #ff9500;
}
#contacts {
  background-color: #F6FDC3;
}

.botCs {
  background-color: #bcc2fb;
}

#chatbox {
  background-color: #CDFADB;
}

.bot {
  background-color: #FF8080;
}

.user {
  background-color: #FFCF96;
}

#bar {
  width: 70%;
}

#bar button {
  margin-left: 1em;
}