@charset "utf-8";

:root {
  --nav: #264653; //self explanatory
  --a: #287271; //contacts
  --b: #f4a261; //bots in contacts
  --c: #2a9d8f; //chat area
  --d: #e9c46a; //bot chatbox
  --e: #e76f51; //user chatbox
}

h1 {
  color: #ff9500;
}

nav{
  background-color: var(--nav);
}

#contacts {
  background-color: var(--a);
}

.botCs {
  background-color: var(--b);
  box-shadow: 5px 5px #08697c;
}

#chatbox {
  background-color: var(--c);
}

.bot {
  background-color: var(--d);
  box-shadow: 10px 10px #0a646e;
  margin-left: 1.5em;
}

.user {
  background-color: var(--e);
  box-shadow: 10px 10px #0a646e;
}

#bar {
  width: 70%;
}

#bar button {
  margin-left: 1em;
}